


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.profiles (id, full_name)
  VALUES (NEW.id, NEW.raw_user_meta_data->>'full_name');
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_residents_age"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF NEW.date_of_birth IS NULL THEN
    NEW.age := NULL;
  ELSE
    NEW.age := DATE_PART('year', AGE(current_date, NEW.date_of_birth))::int;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_residents_age"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."assistance_programs" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "agency" "text",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."assistance_programs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."beneficiaries" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "resident_id" "uuid" NOT NULL,
    "program_id" "uuid" NOT NULL,
    "status" "text" DEFAULT 'Active'::"text",
    "enrolled_at" "date" DEFAULT CURRENT_DATE,
    "last_release_date" "date",
    "total_released" numeric(12,2) DEFAULT 0,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "beneficiaries_status_check" CHECK (("status" = ANY (ARRAY['Active'::"text", 'Pending'::"text", 'Completed'::"text", 'Suspended'::"text"])))
);


ALTER TABLE "public"."beneficiaries" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."disaster_risk_zones" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "hazard_type" "text" NOT NULL,
    "risk_level" "text" NOT NULL,
    "purok" "text" NOT NULL,
    "description" "text",
    "radius" integer DEFAULT 300,
    "latitude" numeric(10,7) NOT NULL,
    "longitude" numeric(10,7) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "disaster_risk_zones_risk_level_check" CHECK (("risk_level" = ANY (ARRAY['High'::"text", 'Medium'::"text", 'Low'::"text"])))
);


ALTER TABLE "public"."disaster_risk_zones" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."households" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "household_no" "text" NOT NULL,
    "purok" "text" NOT NULL,
    "address" "text",
    "latitude" numeric(10,7),
    "longitude" numeric(10,7),
    "housing_type" "text" DEFAULT 'Concrete'::"text",
    "water_source" "text" DEFAULT 'Level III'::"text",
    "electricity" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "head_name" "text",
    CONSTRAINT "households_housing_type_check" CHECK (("housing_type" = ANY (ARRAY['Concrete'::"text", 'Semi-concrete'::"text", 'Wood'::"text", 'Makeshift'::"text"]))),
    CONSTRAINT "households_purok_check" CHECK (("purok" = ANY (ARRAY['Sitio Hunan'::"text", 'Sitio Hagu'::"text", 'Sitio Tuva'::"text"])))
);


ALTER TABLE "public"."households" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."incidents" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "case_no" "text" NOT NULL,
    "incident_type" "text" NOT NULL,
    "purok" "text" NOT NULL,
    "complainant" "text",
    "respondent" "text",
    "description" "text",
    "incident_date" timestamp with time zone NOT NULL,
    "status" "text" DEFAULT 'Ongoing'::"text",
    "resolved_date" "date",
    "officer_id" "uuid",
    "latitude" numeric(10,7),
    "longitude" numeric(10,7),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "incidents_incident_type_check" CHECK (("incident_type" = ANY (ARRAY['Noise/Disturbance'::"text", 'Theft'::"text", 'Physical Injury'::"text", 'Domestic Violence'::"text", 'Trespassing'::"text", 'Accident'::"text", 'Illegal Drugs'::"text", 'Others'::"text"]))),
    CONSTRAINT "incidents_status_check" CHECK (("status" = ANY (ARRAY['Ongoing'::"text", 'Resolved'::"text", 'Escalated'::"text", 'Dismissed'::"text"])))
);


ALTER TABLE "public"."incidents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "full_name" "text",
    "role" "text" DEFAULT 'officer'::"text",
    "barangay" "text" DEFAULT 'Kayvaluganan'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "profiles_role_check" CHECK (("role" = ANY (ARRAY['admin'::"text", 'officer'::"text", 'viewer'::"text"])))
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."qr_verifications" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "resident_id" "uuid" NOT NULL,
    "purpose" "text" NOT NULL,
    "officer_id" "uuid",
    "verified_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."qr_verifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."residents" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "resident_no" "text" NOT NULL,
    "household_id" "uuid",
    "first_name" "text" NOT NULL,
    "last_name" "text" NOT NULL,
    "middle_name" "text",
    "suffix" "text",
    "date_of_birth" "date" NOT NULL,
    "sex" "text" NOT NULL,
    "civil_status" "text" DEFAULT 'Single'::"text",
    "purok" "text" NOT NULL,
    "is_household_head" boolean DEFAULT false,
    "is_voter" boolean DEFAULT false,
    "is_pwd" boolean DEFAULT false,
    "pwd_type" "text",
    "is_solo_parent" boolean DEFAULT false,
    "is_senior_citizen" boolean DEFAULT false,
    "monthly_income" numeric(10,2) DEFAULT 0,
    "occupation" "text",
    "educational_attainment" "text",
    "contact_number" "text",
    "philhealth_no" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "age" integer,
    CONSTRAINT "residents_civil_status_check" CHECK (("civil_status" = ANY (ARRAY['Single'::"text", 'Married'::"text", 'Widowed'::"text", 'Separated'::"text", 'Annulled'::"text"]))),
    CONSTRAINT "residents_sex_check" CHECK (("sex" = ANY (ARRAY['Male'::"text", 'Female'::"text"])))
);


ALTER TABLE "public"."residents" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."residents_with_age" AS
 SELECT "id",
    "resident_no",
    "household_id",
    "first_name",
    "last_name",
    "middle_name",
    "suffix",
    "date_of_birth",
    "sex",
    "civil_status",
    "purok",
    "is_household_head",
    "is_voter",
    "is_pwd",
    "pwd_type",
    "is_solo_parent",
    "is_senior_citizen",
    "monthly_income",
    "occupation",
    "educational_attainment",
    "contact_number",
    "philhealth_no",
    "created_at",
    "updated_at",
    "date_part"('year'::"text", "age"(("date_of_birth")::timestamp with time zone)) AS "age"
   FROM "public"."residents";


ALTER VIEW "public"."residents_with_age" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."survey_responses" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "resident_id" "uuid",
    "purok" "text" NOT NULL,
    "priority_need" "text" NOT NULL,
    "other_need" "text",
    "comments" "text",
    "submitted_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "survey_responses_priority_need_check" CHECK (("priority_need" = ANY (ARRAY['Health Services'::"text", 'Road / Infrastructure'::"text", 'Educational Support'::"text", 'Livelihood Programs'::"text", 'Water Supply'::"text", 'Peace & Order'::"text", 'Others'::"text"])))
);


ALTER TABLE "public"."survey_responses" OWNER TO "postgres";


ALTER TABLE ONLY "public"."assistance_programs"
    ADD CONSTRAINT "assistance_programs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."beneficiaries"
    ADD CONSTRAINT "beneficiaries_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."beneficiaries"
    ADD CONSTRAINT "beneficiaries_resident_id_program_id_key" UNIQUE ("resident_id", "program_id");



ALTER TABLE ONLY "public"."disaster_risk_zones"
    ADD CONSTRAINT "disaster_risk_zones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."households"
    ADD CONSTRAINT "households_household_no_key" UNIQUE ("household_no");



ALTER TABLE ONLY "public"."households"
    ADD CONSTRAINT "households_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."incidents"
    ADD CONSTRAINT "incidents_case_no_key" UNIQUE ("case_no");



ALTER TABLE ONLY "public"."incidents"
    ADD CONSTRAINT "incidents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."qr_verifications"
    ADD CONSTRAINT "qr_verifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."residents"
    ADD CONSTRAINT "residents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."residents"
    ADD CONSTRAINT "residents_resident_no_key" UNIQUE ("resident_no");



ALTER TABLE ONLY "public"."survey_responses"
    ADD CONSTRAINT "survey_responses_pkey" PRIMARY KEY ("id");



CREATE OR REPLACE TRIGGER "trg_set_residents_age" BEFORE INSERT OR UPDATE OF "date_of_birth" ON "public"."residents" FOR EACH ROW EXECUTE FUNCTION "public"."set_residents_age"();



ALTER TABLE ONLY "public"."beneficiaries"
    ADD CONSTRAINT "beneficiaries_program_id_fkey" FOREIGN KEY ("program_id") REFERENCES "public"."assistance_programs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."beneficiaries"
    ADD CONSTRAINT "beneficiaries_resident_id_fkey" FOREIGN KEY ("resident_id") REFERENCES "public"."residents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."incidents"
    ADD CONSTRAINT "incidents_officer_id_fkey" FOREIGN KEY ("officer_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."qr_verifications"
    ADD CONSTRAINT "qr_verifications_officer_id_fkey" FOREIGN KEY ("officer_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."qr_verifications"
    ADD CONSTRAINT "qr_verifications_resident_id_fkey" FOREIGN KEY ("resident_id") REFERENCES "public"."residents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."residents"
    ADD CONSTRAINT "residents_household_id_fkey" FOREIGN KEY ("household_id") REFERENCES "public"."households"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."survey_responses"
    ADD CONSTRAINT "survey_responses_resident_id_fkey" FOREIGN KEY ("resident_id") REFERENCES "public"."residents"("id") ON DELETE SET NULL;



CREATE POLICY "Allow read for authenticated" ON "public"."assistance_programs" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow read for authenticated" ON "public"."beneficiaries" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow read for authenticated" ON "public"."disaster_risk_zones" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow read for authenticated" ON "public"."households" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow read for authenticated" ON "public"."incidents" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow read for authenticated" ON "public"."qr_verifications" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow read for authenticated" ON "public"."residents" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow read for authenticated" ON "public"."survey_responses" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow users to read own profile" ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Allow users to update own profile" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Allow write for authenticated" ON "public"."assistance_programs" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow write for authenticated" ON "public"."beneficiaries" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow write for authenticated" ON "public"."disaster_risk_zones" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow write for authenticated" ON "public"."households" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow write for authenticated" ON "public"."incidents" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow write for authenticated" ON "public"."qr_verifications" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow write for authenticated" ON "public"."residents" USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow write for authenticated" ON "public"."survey_responses" USING (("auth"."role"() = 'authenticated'::"text"));



ALTER TABLE "public"."assistance_programs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."beneficiaries" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."disaster_risk_zones" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."households" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."incidents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."qr_verifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."residents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."survey_responses" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_residents_age"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_residents_age"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_residents_age"() TO "service_role";



GRANT ALL ON TABLE "public"."assistance_programs" TO "anon";
GRANT ALL ON TABLE "public"."assistance_programs" TO "authenticated";
GRANT ALL ON TABLE "public"."assistance_programs" TO "service_role";



GRANT ALL ON TABLE "public"."beneficiaries" TO "anon";
GRANT ALL ON TABLE "public"."beneficiaries" TO "authenticated";
GRANT ALL ON TABLE "public"."beneficiaries" TO "service_role";



GRANT ALL ON TABLE "public"."disaster_risk_zones" TO "anon";
GRANT ALL ON TABLE "public"."disaster_risk_zones" TO "authenticated";
GRANT ALL ON TABLE "public"."disaster_risk_zones" TO "service_role";



GRANT ALL ON TABLE "public"."households" TO "anon";
GRANT ALL ON TABLE "public"."households" TO "authenticated";
GRANT ALL ON TABLE "public"."households" TO "service_role";



GRANT ALL ON TABLE "public"."incidents" TO "anon";
GRANT ALL ON TABLE "public"."incidents" TO "authenticated";
GRANT ALL ON TABLE "public"."incidents" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."qr_verifications" TO "anon";
GRANT ALL ON TABLE "public"."qr_verifications" TO "authenticated";
GRANT ALL ON TABLE "public"."qr_verifications" TO "service_role";



GRANT ALL ON TABLE "public"."residents" TO "anon";
GRANT ALL ON TABLE "public"."residents" TO "authenticated";
GRANT ALL ON TABLE "public"."residents" TO "service_role";



GRANT ALL ON TABLE "public"."residents_with_age" TO "anon";
GRANT ALL ON TABLE "public"."residents_with_age" TO "authenticated";
GRANT ALL ON TABLE "public"."residents_with_age" TO "service_role";



GRANT ALL ON TABLE "public"."survey_responses" TO "anon";
GRANT ALL ON TABLE "public"."survey_responses" TO "authenticated";
GRANT ALL ON TABLE "public"."survey_responses" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







